<section class="bg-hero">
  <div class="container">
    <div class="row mt-lg-5">
      <div class="col-md-6 col-lg-4">
          <div class="rounded shadow overflow-hidden sticky-bar">
              <div class="card border-0">
                  <img src="../assets/images/bg/bg-profile.jpg" class="img-fluid" alt="">
              </div>

              <div class="text-center avatar-profile margin-nagative mt-n5 position-relative pb-4 border-bottom">
                  <img src="../assets/images/client/09.jpg" class="rounded-circle shadow-md avatar avatar-md-md" alt="">
                  <h5 class="mt-3 mb-1">{{user.firstName}} {{user.lastName}}</h5>
                  <p class="text-muted mb-0">{{age}} years old</p>
              </div>

              <div class="list-unstyled p-4">
                  <div class="progress-box mb-4">
                      <h6 class="title">Complete your profile</h6>
                      <div class="progress">
                          <div class="progress-bar position-relative bg-primary" style="width:89%;">
                              <div class="progress-value d-block text-muted h6">89%</div>
                          </div>
                      </div>
                  </div><!--end process box-->

                  <div class="d-flex align-items-center mt-2">
                      <i class="uil uil-user align-text-bottom text-primary h5 mb-0 me-2"></i>
                      <h6 class="mb-0">Gender</h6>
                      <p class="text-muted mb-0 ms-2">{{user.gender}}</p>
                  </div>

                  <div class="d-flex align-items-center mt-2">
                      <i class="uil uil-envelope align-text-bottom text-primary h5 mb-0 me-2"></i>
                      <h6 class="mb-0">Birthday</h6>
                      <p class="text-muted mb-0 ms-2">{{user.birthDate}}</p>
                  </div>

                  <div class="d-flex align-items-center mt-2">
                      <i class="uil uil-book-open align-text-bottom text-primary h5 mb-0 me-2"></i>
                      <h6 class="mb-0">Phone No.</h6>
                      <p class="text-muted mb-0 ms-2">{{user.phoneNumber}}</p>
                  </div>

                  <div class="d-flex align-items-center mt-2">
                      <i class="uil uil-italic align-text-bottom text-primary h5 mb-0 me-2"></i>
                      <h6 class="mb-0">Address</h6>
                      <p class="text-muted mb-0 ms-2">{{user.city}}</p>
                  </div>


              </div>
          </div>
      </div><!--end col-->

      <div class="col-lg-8 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
          <div class="card border-0 shadow overflow-hidden">
              <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded-0 shadow overflow-hidden bg-light mb-0" id="pills-tab" role="tablist">


                  <li class="nav-item" role="presentation">
                      <a class="nav-link rounded-0 active" id="experience-tab" data-bs-toggle="pill" role="tab" aria-controls="pills-experience" aria-selected="true">
                          <div class="text-center pt-1 pb-1">
                              <h4 class="title fw-normal mb-0">Profile Settings</h4>
                          </div>
                      </a><!--end nav link-->
                  </li><!--end nav item-->
              </ul>

              <div class="tab-content p-4" id="pills-tabContent">


                  <div class="tab-pane fade active show" id="pills-experience" role="tabpanel" aria-labelledby="experience-tab">
                      <h5 class="mb-0">Personal Information :</h5>

                      <form class="mt-4" [formGroup]="patientDetailFormGroup"
                      (submit)="onSubmit()">
                          <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                      <label class="form-label" for="bloodType">Blood Type</label>
                                      <select class="form-select form-control" name="bloodType" formControlName="bloodType" id="bloodType">
                                        <!-- <option value="" disabled selected>Select a department</option> -->
                                        <option *ngFor="let bloodType of bloodTypes" [value]="bloodType.value">
                                          {{ bloodType.name }}
                                        </option>
                                      </select>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label class="form-label" for="insuranceType">Insurance Type</label>
                                    <select class="form-select form-control" name="insuranceType" formControlName="insuranceType" id="insuranceType">
                                      <!-- <option value="" disabled selected>Select a department</option> -->
                                      <option *ngFor="let insuranceType of insuranceTypes" [value]="insuranceType.value">
                                        {{ insuranceType.name }}
                                      </option>
                                    </select>
                                </div>
                              </div>
                            <div class="col-md-6">
                              <div class="mb-3">
                                  <label class="form-label" for="socialSecurityNumber">Social Security Number</label>
                                  <input formControlName="socialSecurityNumber" id="socialSecurityNumber" type="text" class="form-control" placeholder="Social Security Number :">
                              </div>
                          </div><!--end col-->
                            <div class="col-md-6">
                              <div class="mb-3">
                                  <label class="form-label" for="allergies">Allergies</label>
                                  <input formControlName="allergies" id="allergies" type="text" class="form-control" placeholder="Allergies :">
                              </div>
                          </div><!--end col-->
                              <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="healthHistory">Health History</label>
                                    <textarea formControlName="healthHistory" id="healthHistory" type="text" class="form-control" placeholder="Health History :"></textarea>
                                </div>
                            </div><!--end col-->
                          <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="currentMedications">Current Medications</label>
                                <textarea formControlName="currentMedications" id="currentMedications" type="text" class="form-control" placeholder="Current Medications :"></textarea>
                            </div>
                        </div><!--end col-->
                        <div class="col-md-6">
                          <div class="mb-3">
                              <label class="form-label" for="emergencyContactName">Emergency Contact Name</label>
                              <input formControlName="emergencyContactName" id="emergencyContactName" type="text" class="form-control" placeholder="Emergency Contac tName :">
                          </div>
                      </div><!--end col-->
                      <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="emergencyContactPhoneNumber">Emergency Contact Phone Number</label>
                            <input formControlName="emergencyContactPhoneNumber" id="emergencyContactPhoneNumber" type="text" class="form-control" placeholder="emergencyContactPhoneNumber :">
                        </div>
                    </div><!--end col-->
                  <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="emergencyContactRelationship">Emergency Contact Relationship</label>
                        <input formControlName="emergencyContactRelationship" id="emergencyContactRelationship" type="text" class="form-control" placeholder="Emergency Contact Relationship :">
                    </div>
                </div><!--end col-->
                          </div>

                          <button type="submit" class="btn btn-primary">Update Patient</button>
                      </form>


                      <div class="mt-4 pt-2">
                          <h5 class="mb-0">Change Password :</h5>

<app-change-password></app-change-password>
                      </div>

                  </div>
              </div>
          </div>
      </div><!--end col-->
  </div>
  </div>
</section>
