<div class="layout-specing">
  <div class="d-md-flex justify-content-between">
    <h2 class="mb-0">Update Department</h2>
  </div>

  <div class="row">
    <div class="col-lg-12 mt-12">
        <div class="card border-0 p-4 rounded shadow">
            <div class="row align-items-center">

            <form class="mt-4" [formGroup]="departmentDetailFormGroup"
            (submit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="name">Department Name</label>
                        <input formControlName="name" id="name" type="text" class="form-control" placeholder="Department Name :">
                        <div *ngIf="departmentDetailFormGroup.get('name')?.touched && departmentDetailFormGroup.get('name')?.invalid">
                          <small class="text-danger" *ngIf="departmentDetailFormGroup.get('name')?.errors?.['required']">Name is required.</small>
                        </div>
                    </div>
                </div><!--end col-->
                  <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <input formControlName="description" id="description" type="text" class="form-control" placeholder="Description :">
                        <div *ngIf="departmentDetailFormGroup.get('description')?.touched && departmentDetailFormGroup.get('description')?.invalid">
                          <small class="text-danger" *ngIf="departmentDetailFormGroup.get('description')?.errors?.['required']">Description is required.</small>
                        </div>
                    </div>
                </div><!--end col-->
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div><!--end col-->

</div>
</div>

