<!-- <header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">HomeMAin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<header id="topnav" class="navigation sticky">
  <div class="container">
      <!-- Logo container-->
      <div>
          <a class="logo" routerLink="index.html">
              <span class="logo-light-mode">
                  <img src="../assets/images/logo-dark.png" class="l-dark" height="22" alt="">
                  <img src="../assets/images/logo-light.png" class="l-light" height="22" alt="">
              </span>
              <img src="../assets/images/logo-light.png" height="22" class="logo-dark-mode" alt="">
          </a>
      </div>
      <!-- End Logo container-->

      <!-- Start Mobile Toggle -->
      <div class="menu-extras">
          <div class="menu-item">
              <!-- Mobile menu toggle-->
              <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                  <div class="lines">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
              </a>
              <!-- End mobile menu toggle-->
          </div>
      </div>
      <!-- End Mobile Toggle -->

      <!-- Start Dropdown -->
      <ul class="dropdowns list-inline mb-0">
          <li class="list-inline-item mb-0">
              <a routerLink="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                  <div class="btn btn-icon btn-pills btn-primary"><i data-feather="settings" class="fea icon-sm"></i></div>
              </a>
          </li>

          <li class="list-inline-item mb-0 ms-1">
              <a routerLink="" class="btn btn-icon btn-pills btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                  <i class="fas fa-search"></i>
              </a>
          </li>

          <li class="list-inline-item mb-0 ms-1">
              <div class="dropdown dropdown-primary">
                  <button type="button" class="btn btn-pills btn-soft-primary dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/doctors/01.jpg" class="avatar avatar-ex-small rounded-circle" alt=""></button>
                  <div class="dropdown-menu dd-menu dropdown-menu-end shadow border-0 mt-3 py-3" style="min-width: 200px;">
                      <a class="dropdown-item d-flex align-items-center text-dark" routerLink="doctor-profile.html">
                          <img src="../assets/images/doctors/01.jpg" class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                          <div class="flex-1 ms-2">
                              <span class="d-block mb-1">Calvin Carlo</span>
                              <small class="text-muted">Orthopedic</small>
                          </div>
                      </a>
                      <a class="dropdown-item text-dark" routerLink="doctor-dashboard.html"><span class="mb-0 d-inline-block me-1"><i class="uil uil-dashboard align-middle h6"></i></span> Dashboard</a>
                      <a class="dropdown-item text-dark" routerLink="doctor-profile-setting.html"><span class="mb-0 d-inline-block me-1"><i class="uil uil-setting align-middle h6"></i></span> Profile Settings</a>
                      <div class="dropdown-divider border-top"></div>
                      <a class="dropdown-item text-dark" routerLink="login.html"><span class="mb-0 d-inline-block me-1"><i class="uil uil-sign-out-alt align-middle h6"></i></span> Logout</a>
                  </div>
              </div>
          </li>
      </ul>
      <!-- Start Dropdown -->

      <div id="navigation">
          <!-- Navigation Menu-->
          <ul class="navigation-menu nav-left nav-light">
              <li class="has-submenu parent-menu-item">
                  <a routerLink="admin">Home</a><span class="menu-arrow"></span>
                  <ul class="submenu">
                      <li><a routerLink="index.html" class="sub-menu-item">Index One</a></li>
                      <li><a routerLink="index-two.html" class="sub-menu-item">Index Two</a></li>
                      <li><a routerLink="index-three.html" class="sub-menu-item">Index Three</a></li>
                  </ul>
              </li>

              <li class="has-submenu parent-parent-menu-item">
                  <a routerLink="">Doctors</a><span class="menu-arrow"></span>
                  <ul class="submenu">
                      <li class="has-submenu parent-menu-item">
                          <a routerLink="" class="menu-item"> Dashboard </a><span class="submenu-arrow"></span>
                          <ul class="submenu">
                              <li><a routerLink="doctor-dashboard.html" class="sub-menu-item">Dashboard</a></li>
                              <li><a routerLink="doctor-appointment.html" class="sub-menu-item">Appointment</a></li>
                              <li><a routerLink="patient-list.html" class="sub-menu-item">Patients</a></li>
                              <li><a routerLink="doctor-schedule.html" class="sub-menu-item">Schedule Timing</a></li>
                              <li><a routerLink="invoices.html" class="sub-menu-item">Invoices</a></li>
                              <li><a routerLink="patient-review.html" class="sub-menu-item">Reviews</a></li>
                              <li><a routerLink="doctor-messages.html" class="sub-menu-item">Messages</a></li>
                              <li><a routerLink="doctor-profile.html" class="sub-menu-item">Profile</a></li>
                              <li><a routerLink="doctor-profile-setting.html" class="sub-menu-item">Profile Settings</a></li>
                              <li><a routerLink="doctor-chat.html" class="sub-menu-item">Chat</a></li>
                              <li><a routerLink="login.html" class="sub-menu-item">Login</a></li>
                              <li><a routerLink="signup.html" class="sub-menu-item">Sign Up</a></li>
                              <li><a routerLink="forgot-password.html" class="sub-menu-item">Forgot Password</a></li>
                          </ul>
                      </li>
                      <li><a routerLink="doctor-team-one.html" class="sub-menu-item">Doctors One</a></li>
                      <li><a routerLink="doctor-team-two.html" class="sub-menu-item">Doctors Two</a></li>
                      <li><a routerLink="doctor-team-three.html" class="sub-menu-item">Doctors Three</a></li>
                  </ul>
              </li>

              <li class="has-submenu parent-menu-item">
                  <a routerLink="">Patients</a><span class="menu-arrow"></span>
                  <ul class="submenu">
                      <li><a routerLink="patient-dashboard.html" class="sub-menu-item">Dashboard</a></li>
                      <li><a routerLink="patient-profile.html" class="sub-menu-item">Profile</a></li>
                      <li><a routerLink="booking-appointment.html" class="sub-menu-item">Book Appointment</a></li>
                      <li><a routerLink="patient-invoice.html" class="sub-menu-item">Invoice</a></li>
                  </ul>
              </li>

              <li class="has-submenu parent-menu-item">
                  <a routerLink="">Pharmacy</a><span class="menu-arrow"></span>
                  <ul class="submenu">
                      <li><a routerLink="pharmacy.html" class="sub-menu-item">Pharmacy</a></li>
                      <li><a routerLink="pharmacy-shop.html" class="sub-menu-item">Shop</a></li>
                      <li><a routerLink="pharmacy-product-detail.html" class="sub-menu-item">Medicine Detail</a></li>
                      <li><a routerLink="pharmacy-shop-cart.html" class="sub-menu-item">Shop Cart</a></li>
                      <li><a routerLink="pharmacy-checkout.html" class="sub-menu-item">Checkout</a></li>
                      <li><a routerLink="pharmacy-account.html" class="sub-menu-item">Account</a></li>
                  </ul>
              </li>

              <li class="has-submenu parent-parent-menu-item"><a routerLink="">Pages</a><span class="menu-arrow"></span>
                  <ul class="submenu">
                      <li><a routerLink="aboutus.html" class="sub-menu-item"> About Us</a></li>
                      <li><a routerLink="departments.html" class="sub-menu-item">Departments</a></li>
                      <li><a routerLink="faqs.html" class="sub-menu-item">FAQs</a></li>
                      <li class="has-submenu parent-menu-item">
                          <a routerLink="" class="menu-item"> Blogs </a><span class="submenu-arrow"></span>
                          <ul class="submenu">
                              <li><a routerLink="blogs.html" class="sub-menu-item">Blogs</a></li>
                              <li><a routerLink="blog-detail.html" class="sub-menu-item">Blog Details</a></li>
                          </ul>
                      </li>
                      <li><a routerLink="terms.html" class="sub-menu-item">Terms & Policy</a></li>
                      <li><a routerLink="privacy.html" class="sub-menu-item">Privacy Policy</a></li>
                      <li><a routerLink="error.html" class="sub-menu-item">404 !</a></li>
                      <li><a routerLink="contact.html" class="sub-menu-item">Contact</a></li>
                  </ul>
              </li>
              <li><a routerLink="https://shreethemes.in/doctris/layouts/admin/index.html" class="sub-menu-item" target="_blank">Admin</a></li>
          </ul><!--end navigation menu-->
      </div><!--end navigation-->
  </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->
