<div class="layout-specing">
  <div class="d-md-flex justify-content-between">
    <h2 class="mb-0">Update Department</h2>
  </div>

  <div class="row">
    <div class="col-lg-12 mt-12">
        <div class="card border-0 p-4 rounded shadow">
            <div class="row align-items-center">

            <form class="mt-4" [formGroup]="feedbackDetailFormGroup"
            (submit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="title">Feedback Title</label>
                        <input formControlName="title" id="title" type="text" class="form-control" placeholder="Feedback Title :">
                        <div *ngIf="feedbackDetailFormGroup.get('title')?.touched && feedbackDetailFormGroup.get('title')?.invalid">
                          <small class="text-danger" *ngIf="feedbackDetailFormGroup.get('title')?.errors?.['required']">Feedback Name is required.</small>
                        </div>
                    </div>
                </div><!--end col-->
                  <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <input formControlName="description" id="description" type="text" class="form-control" placeholder="Description :">
                        <div *ngIf="feedbackDetailFormGroup.get('description')?.touched && feedbackDetailFormGroup.get('description')?.invalid">
                          <small class="text-danger" *ngIf="feedbackDetailFormGroup.get('description')?.errors?.['required']">Description is required.</small>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Rating</label>
                    <app-star-rating formControlName="rating"></app-star-rating>
                    <div *ngIf="feedbackDetailFormGroup.get('rating')?.touched && feedbackDetailFormGroup.get('rating')?.invalid">
                      <small class="text-danger" *ngIf="feedbackDetailFormGroup.get('rating')?.errors?.['required']">Rating is required.</small>
                    </div>
                  </div>
                </div><!--end col-->

                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div><!--end col-->

</div>
</div>

