
 <div class="top-header">
  <div class="header-bar d-flex justify-content-between border-bottom">
    <div class="d-flex align-items-center">
      <a id="close-sidebar" class="btn btn-icon btn-pills btn-soft-primary ms-2"  >
          <i class="fa fa-bars"></i>
      </a>
  </div>

      <ul class="list-unstyled mb-0">
          <li class="list-inline-item mb-0 ms-1">
              <div class="dropdown dropdown-primary">
                  <button type="button" class="btn btn-icon btn-pills btn-soft-primary dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail fea icon-sm"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></button>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">4 <span class="visually-hidden">unread mail</span></span>

                  <div class="dropdown-menu dd-menu dropdown-menu-end shadow rounded border-0 mt-3 px-2 py-2" data-simplebar="init" style="height: 320px; width: 300px;"><div class="simplebar-wrapper" style="margin: -8px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 8px;">
                      <a href="#" class="d-flex align-items-center justify-content-between py-2">
                          <div class="d-inline-flex position-relative overflow-hidden">
                              <img src="../assets/images/client/02.jpg" class="avatar avatar-md-sm rounded-circle shadow" alt="">
                              <small class="text-dark mb-0 d-block text-truncat ms-3">You received a new email from <b>Janalia</b> <small class="text-muted fw-normal d-inline-block">1 hour ago</small></small>
                          </div>
                      </a>


                      <a href="#" class="d-flex align-items-center justify-content-between py-2 border-top">
                          <div class="d-inline-flex position-relative overflow-hidden">
                              <img src="../assets/images/client/03.jpg" class="avatar avatar-md-sm rounded-circle shadow" alt="">
                              <small class="text-dark mb-0 d-block text-truncat ms-3">You received a new email from <b>Cristina</b> <small class="text-muted fw-normal d-inline-block">5 hour ago</small></small>
                          </div>
                      </a>


                      <a href="#" class="d-flex align-items-center justify-content-between py-2 border-top">
                          <div class="d-inline-flex position-relative overflow-hidden">
                              <img src="../assets/images/client/06.jpg" class="avatar avatar-md-sm rounded-circle shadow" alt="">
                              <small class="text-dark mb-0 d-block text-truncat ms-3">You received a new email from <b>Donald Aghori</b> <small class="text-muted fw-normal d-inline-block">1 day ago</small></small>
                          </div>
                      </a>

                      <a href="#" class="d-flex align-items-center justify-content-between py-2 border-top">
                          <div class="d-inline-flex position-relative overflow-hidden">
                              <img src="../assets/images/client/07.jpg" class="avatar avatar-md-sm rounded-circle shadow" alt="">
                              <small class="text-dark mb-0 d-block text-truncat ms-3">You received a new email from <b>Calvin</b> <small class="text-muted fw-normal d-inline-block">2 day ago</small></small>
                          </div>
                      </a>
                  </div></div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
              </div>
          </li>

          <li class="list-inline-item mb-0 ms-1">
              <div class="dropdown dropdown-primary">
                  <button type="button" class="btn btn-pills btn-soft-primary dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/doctors/01.jpg" class="avatar avatar-ex-small rounded-circle" alt=""></button>
                  <div class="dropdown-menu dd-menu dropdown-menu-end shadow border-0 mt-3 py-3" style="min-width: 200px;">
                      <a class="dropdown-item d-flex align-items-center text-dark" href="profile.html">
                          <img src="../assets/images/doctors/01.jpg" class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                          <div class="flex-1 ms-2">
                              <span class="d-block mb-1">Hoşgeldiniz</span>
                              <small class="text-muted">{{user}}</small>
                          </div>
                      </a>
                      <a class="dropdown-item text-dark" href="dr-profile.html"><span class="mb-0 d-inline-block me-1"><i class="uil uil-setting align-middle h6"></i></span> Profile Settings</a>
                      <div class="dropdown-divider border-top"></div>
                      <a class="dropdown-item text-dark" (click)="logout()"><span class="mb-0 d-inline-block me-1"><i class="uil uil-sign-out-alt align-middle h6"></i></span> Logout</a>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</div>
