
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Email">Email</label>
      <input id="Email" formControlName="Email"name="Email" class="form-control" type="email">
    </div>
    <div class="form-group">
      <label for="Password">Current Password</label>
      <input id="Password" formControlName="Password"name="Password" class="form-control" type="password">
    </div>
    <div class="form-group">
      <label for="NewPassword">New Password</label>
      <input id="NewPassword" formControlName="NewPassword" name="NewPassword" class="form-control" type="Password">
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
    <div *ngIf="errorMessage" class="alert alert-danger mt-2">
      {{ errorMessage }}
    </div>
  </form>

